<%= form_with(model: carro, local: true) do |form| %>
  <% if carro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carro.errors.count, "error") %> prohibited this carro from being saved:</h2>

      <ul>
      <% carro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca, id: :carro_marca %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, id: :carro_modelo %>
  </div>

  <div class="field">
    <%= form.label :anio %>
    <%= form.number_field :anio, id: :carro_anio %>
  </div>

  <div class="field">
    <%= form.label :clase %>
    <%= form.select :clase, ['A','AA','AAA'], id: :carro_clase %>
  </div>

  <div class="field">
    <%= form.label :duenio %>
    <%= form.text_field :duenio, id: :carro_duenio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
