

<h1>Carros</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Anio</th>
      <th>Clase</th>
      <th>Dueño</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carros.each do |carro| %>
      <tr>
        <td><%= carro.marca %></td>
        <td><%= carro.modelo %></td>
        <td><%= carro.anio %></td>
        <td><%= carro.clase %></td>
        <td><%= carro.duenio %></td>
        
        <% role= current_user.role%>
        <% if role == "Pasajero"%>
        <td class="button primary"><%= link_to 'Mostar Carro', carro %></td>
        <% elsif role =="Chofer"%>
        <td class="button primary"><%= link_to 'Mostar Carro', carro %></td>
        <td class="button warning"><%= link_to 'Editar', edit_carro_path(carro) %></td>
        <%else%>
        <td class="button primary"><%= link_to 'Mostar Carro', carro %></td>
        <td class="button warning"><%= link_to 'Editar', edit_carro_path(carro) %></td>
        <td class="button alert"><%= link_to 'Eliminar', carro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
    
  </tbody>
</table>

<br>
<% role= current_user.role%>
 <% if role == "Pasajero"%>
 <p></p>
 <%else%>
<%= link_to 'New Carro', new_carro_path %>
<% end %>
    
