
<style>
p{
  font-size: 18px;
  
}
</style>
<br>
<table class="hover">
  <tr>
<td>
<p>
  <strong>Marca:</strong>
  <%= @carro.marca %>
</p>
</td>
<td>
<p>
  <strong>Modelo:</strong>
  <%= @carro.modelo %>
</p>
</td>
<td>
<p>
  <strong>Anio:</strong>
  <%= @carro.anio %>
</p>
</td>
<td>
<p>
  <strong>Clase:</strong>
  <%= @carro.clase %>
</p>
</td>
<td>
<p>
  <strong>Duenio:</strong>
  <%= @carro.duenio %>
</p>
</td>
</tr>
</table>
<div>

</div>
<br>
<table class="hover">

  <thead>
  <tr>
  <th>Nombre: </th>
  <th>Apellido: </th>
  <th>Correo: </th>
</tr>
</thead>

<% @carro.conductors.each do |carro| %>
<tr>
<td><%=carro.nombre %></td>
<td><%=carro.apellido %></td>
<td><%=carro.correo %></td>
</tr>
<% end %> 
<br>
<div>
<h4><small>Agrega un conductor al carro</small></h4>
</div>

<%= form_for([@carro, Conductor.new], remote: true) do |f| %>
  <div class="row">

  <div class="medium-6 columns">
  <%= f.label :nombre %>
    <%= f.text_field :nombre, id: :conductor_nombre %>
    </div>
  <div class="medium-6 columns">
    <%= f.label :apellido %>
    <%= f.text_field :apellido, id: :conductor_apellido %>
    </div>
 <div class="medium-6 columns">
    <%= f.label :correo %>
    <%= f.text_field :correo, id: :conductor_correo %>
  </div>
  <br>
<div classs="medium-6 columns">
<%= f.submit 'Crear Conductor', class:'hollow button secondary' %>
</div>
</div>
<% end %>
<%= link_to '<button class="button warning"> Editar Carro </button>'.html_safe, edit_carro_path(@carro) %> |
<%= link_to '<button class="button secondary"> Regresar </button>'.html_safe, carros_path %>
<h2><small>C O N D U C T O R E S </small></h2>  
