<%= form_with(model: conductor, local: true) do |form| %>
  <% if conductor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conductor.errors.count, "error") %> prohibited this conductor from being saved:</h2>

      <ul>
      <% conductor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <% options = options_from_collection_for_select(Carro.all, 'id', 'name') %>
  <%= select_tag("conductor[carro_id]"), options)%>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :conductor_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :conductor_apellido %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :conductor_correo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
