<p id="notice"><%= notice %></p>

<h1>Conductors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conductors.each do |conductor| %>
      <tr>
        <td><%= conductor.nombre %></td>
        <td><%= conductor.apellido %></td>
        <td><%= conductor.correo %></td>
        <td><%= link_to 'Show', conductor %></td>
        <td><%= link_to 'Edit', edit_conductor_path(conductor) %></td>
        <td><%= link_to 'Destroy', conductor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conductor', new_conductor_path %>
