
<p>
  <strong>Nombre:</strong>
  <%= @conductor.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @conductor.apellido %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @conductor.correo %>
</p>

<%= link_to 'Edit', edit_conductor_path(@conductor) %> |
<%= link_to 'Back', conductors_path %>
