/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.user{
    font-size: 21px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo{
    width: 97%;
    height: 17%;
    left: 3%;
    top: 0;
    position: absolute;
    z-index: -2;
}
.titulo{
    font-family: pristina;
    font-size: 79px;
    color: #fffefe;
    -webkit-text-stroke: 2px black;
    z-index: -1;
    letter-spacing: 7px;
    
}